<link rel="stylesheet" href="./styles/footer.css">
<footer class="footer">
    <div class="footer_container container">
        <div class="footer_titlebox footer-titlebox">
            <a class="footer-titlebox_titlelink" href="./index.html">
                <img class="footer-titlebox_logoicon" src="./res/icons/icon_main.png" alt="">
                <h1 class="footer-titlebox_title" for="footer-titlebox_logoicon"><span>учреждение
                        образования</span>Бобруйский государственный
                    аграрно-экономический колледж</h1>
            </a>
        </div>
        <section class="footer_maininfosection">
            <nav class="footer_nav footer-nav">
                <ul class="footer-nav_list footer-nav-list">
                    <li class="footer-nav-list_header"><a>
                            <h2>Контакты</h2>
                        </a>
                        <div class="footer-nav-list_separator"></div>
                    </li>
                    <div class="footer-nav-list_grid">
                        <li style="grid-column: 1; grid-row: 1;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Горячая линия по вопросам
                                справочного-консультационного характера с 8:00 до 12:30:</a></li>
                        <li style="grid-column: 1; grid-row: 2;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Директор, Коновалов Евгений Александрович:</a>
                        </li>
                        <li style="grid-column: 1; grid-row: 3;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Заместитель директора по учебной работе,Кустова
                                Полина Алексндровна:</a></li>
                        <li style="grid-column: 1; grid-row: 4;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Заместитель директора по учебно-производственной
                                работе, Кирова Елена Сергеевна:</a></li>
                        <li style="grid-column: 1; grid-row: 5;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Заместитель директора по воспитательной работе,
                                Белявская Виктория Сергеевна:</a></li>
                        <li style="grid-column: 1; grid-row: 6;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Заместитель директора по хозяйственной работе,
                                Яхимович Инна Анатольевна</a></li>
                        <li style="grid-column: 1; grid-row: 7;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">Главный бухгалтер, Руденко Марина
                                Григорьевна</a></li>
                        <li style="grid-column: 2; grid-row: 1;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">8 (0225) 71-77-19</a></li>
                        <li style="grid-column: 2; grid-row: 2;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">8 (0225) 71-76-11</a>
                        </li>
                        <li style="grid-column: 2; grid-row: 3;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">8 (0225) 71-76-11</a></li>
                        <li style="grid-column: 2; grid-row: 4;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">8 (0225) 43-50-19</a></li>
                        <li style="grid-column: 2; grid-row: 5;" class="footer-nav-list_item footer-contacts_label"><a
                                href=""> 8 (0225) 70-07-78</a></li>
                        <li style="grid-column: 2; grid-row: 6;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">8 (0225) 72-19-85</a></li>
                        <li style="grid-column: 2; grid-row: 7;" class="footer-nav-list_item footer-contacts_label"><a
                                href="">8 (0225) 71-76-16</a></li>
                    </div>
                </ul>
                <ul class="footer-nav_list foo
                ter-nav-list">
                    <li class="footer-nav-list_header"><a>
                            <h2>Расписание занятий</h2>
                        </a></li>
                    <li class="footer-nav-list_separator">
                        <div class="footer_separator"></div>
                    </li>
                    <div class="footer-nav-list_box">
                        <li class="footer-nav-listlinks-link footer-nav-list_item"><a href="">Изменения в расписание учебных занятий. Отделение
                                права, архитектуры и строительства</a></li>
                        <li class="footer-nav-list_item footer-nav-listlinks-link"><a href="">Изменения в расписание учебных занятий. Отделение
                                бизнеса и информационно-коммуникационных технологий</a></li>
                        <li class="footer-nav-list_item footer-nav-listlinks-link"><a href="">Расписание занятий на 2025/2026 учебный год</a></li>
                        <li class="footer-nav-list_item footer-nav-listlinks-link"><a href="">Расписание учебной и производственной практики</a>
                        </li>
                        <li class="footer-nav-list_item footer-nav-listlinks-link"><a href="">Расписание звонков</a></li>
                    </div>
                </ul>
                <ul class="footer-nav_list footer-nav-list"></ul>
            </nav>
        </section>
    </div>
</footer>