<header class="header">
    <link rel="stylesheet" href="./styles/header.css">
    <div class="header_container">
        <div class="upperheader">
            <div class="upperheader_contentBox">
                <div class="upperheader_govsymbbox">
                    <img style="width: 43px; height: 22px;" class="upperheader_govsymb" src="./res/images/govflag.png"
                        alt="">
                    <img style="width: 22px; height: 22px;" class="upperheader_govsymb" src="./res/images/govblazon.png"
                        alt="">
                </div>
                <a href="./index.html" class="upperheader_logoLink">
                    <img class="upperheader_logo" src="./res/icons/icon_main.png">
                </a>
                <div class="upperheader_chooseLangDropdown upperheader-dropdown">
                    <button class="upperheader-dropdown_toggle dropdown-toggle"
                        id="upperheader-dropdownToggle">RU</button>
                    <ul class="upperheader-dropdown_menu dropdown-menu" id="upperheader-dropdownMenu">
                        <li><a href="#" data-value="langRU">RU</a></li>
                        <li><a href="#" data-value="langBY">BY</a></li>
                        <li><a href="#" data-value="langEN">EN</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_contentBox">
            <div class="header_navBox">
                <button class="header_menubutton" id="headerMenuToggle">
                    <img class="header_openMenuIcon" src="./res/icons/icon_menu.png" alt="Меню">
                    <img class="header_closeMenuIcon" src="./res/icons/icon_cross_white.png" alt="Закрыть">
                </button>
                <nav class="header_nav header-nav">
                    <ul class="header-nav_list">
                        <li class="header-nav_item" id="linkAboutCollege"><a href="" class="header-nav_link">О колледже</a>
                            <ul class="header-nav_sublist about_college" id="navAboutCollege">
                                <li class="header-nav-sublist_item"><a href="./college-structure.html">Структура колледжа</a></li>
                                <li class="header-nav-sublist_item"><a href="">История колледжа</a></li>
                                <li class="header-nav-sublist_item"><a href="">Достижения</a></li>
                                <li class="header-nav-sublist_item"><a href="">Выдающиеся выпускники</a></li>
                                <li class="header-nav-sublist_item"><a href="">Контакты</a></li>
                                <li class="header-nav-sublist_item"><a href="">Наше общежитие</a></li>
                            </ul>
                        </li>
                        <li class="header-nav_item" id="linkOneWindow"><a href="" class="header-nav_link">Одно окно</a>
                            <ul class="header-nav_sublist onewindow" id="navOneWindow">
                                <li class="header-nav-sublist_item"><a href="">Заказ справок с использованием интернет технологий</a></li>
                                <li class="header-nav-sublist_item"><a href="">График приема граждан</a></li>
                                <li class="header-nav-sublist_item"><a href="">Административные процедуры</a></li>
                                <li class="header-nav-sublist_item"><a href="">Электронные обращения</a></li>
                            </ul>
                        </li>
                        <li class="header-nav_item"><a href="" class="header-nav_link">Учащемуся</a>
                            <ul class="header-nav_sublist students" id="navStudents">
                                <li class="header-nav-sublist_item"><a href="">Расписание</a></li>
                                <li class="header-nav-sublist_item"><a href="">Расписание факультативных занятий</a></li>
                                <li class="header-nav-sublist_item"><a href="">Оплата за обучение</a></li>
                                <li class="header-nav-sublist_item"><a href="">Правила учащихся</a></li>
                                <li class="header-nav-sublist_item"><a href="">Правила внетреннего распорядка для обучающихся</a></li>
                                <li class="header-nav-sublist_item"><a href="">Заочное отделение</a></li>
                                <li class="header-nav-sublist_item"><a href="">Библиотека</a></li>
                            </ul></li>
                        <li class="header-nav_item"><a href="" class="header-nav_link">Абитуриентам</a>
                        <ul class="header-nav_sublist students" id="navStudents">
                                <li class="header-nav-sublist_item"><a href="">Приемная комиссия</a></li>
                                <li class="header-nav-sublist_item"><a href="">Стоимость обучения</a></li>
                                <li class="header-nav-sublist_item"><a href="">Кредит на обучение</a></li>
                                <li class="header-nav-sublist_item"><a href="">Профориентация</a></li>
                                <li class="header-nav-sublist_item"><a href="">Общежитие</a></li>
                            </ul></li>
                        <li class="header-nav_item"><a href="" class="header-nav_link">Новости</a></li>
                    </ul>
                </nav>
                <button class="header_searchbutton">
                    <img class="header_searchicon" src="./res/icons/icon_loop.png" alt="">
                </button>
            </div>
        </div>
        <div class="header_menu header-menu" id="headerMenu">
            <ul class="header-menu_mainLinksList">
                <li class="header-menu_mainLink header-menu_mainLinkWithArrow" id="navLinkTesting">
                    <a>Тестирование</a>
                    <img src="./res/icons/icon_arrow.png" alt="">
                </li>
                <li class="header-menu_mainLink header-menu_mainLinkWithArrow" id="navLinkIdeologyAndEducation">
                    <a>Идеология и воспитание</a>
                    <img src="./res/icons/icon_arrow.png" alt="">
                </li>
                <li class="header-menu_mainLink header-menu_mainLinkWithArrow" id="navLinkMethodicalWork">
                    <a>Методическая работа</a>
                    <img src="./res/icons/icon_arrow.png" alt="">
                </li>
                <li class="header-menu_mainLink header-menu_mainLinkWithArrow" id="navLinkFreePlaces"><a>Свободные
                        места</a>
                    <img src="./res/icons/icon_arrow.png" alt="">
                </li>
                <li class="header-menu_mainLink header-menu_mainLinkWithArrow" id="navLinkProfskills"><a>PROFSKILLS
                        BELARUS</a>
                    <img src="./res/icons/icon_arrow.png" alt="">
                </li>
                <li class="header-menu_mainLink"><a>Извещение о проведении электронных торгов</a></li>
            </ul>
        </div>
    </div>
</header>