.header {
  width: 100%;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(100, 143, 152); */
  background-color: #f7eef2;
  border-radius: 15px;
}

.header_container {
  width: 90%;
  margin: 0 auto;
}

.header .header_contentBox {
  width: 100%;
  min-height: 55px;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
}

.header .header_contentBox .header_navBox {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
}

.header_menubutton {
  grid-column: 1;
  width: 50x;
  height: 50px;
  border: none;
  background: none;
}

.header_menuicon {
  width: 35px;
  height: 27px;
}

.header .header_contentBox .header_navBox .header-nav {
  grid-column: 2;
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* grid-template-columns: 1fr min-content 1fr; */
}

.header .header_contentBox .header_navBox .header-nav_list {
  width: 100%;
  min-height: 50px;
  padding-left: 45px;
  padding-right: 25px;
  /* max-width: 400px; */
  /* background-color: rgb(78, 111, 120); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.header .header_contentBox .header_navBox .header-nav_list .header-nav_item .header-nav_link {
  font-family: Helvetica, Arial, sans-serif;
  color: #791051;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  text-wrap-mode: nowrap;
}

.header-nav_item:hover {
  text-decoration-color: #791051;
  text-decoration: underline;
}
.header_searchbutton{
  grid-column: 3;
  border: none;
  background: none;
}
.header_searchicon{
  width: 25px;
  height: 25px;
}