.header {
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(100, 143, 152); */
  background-color:  #f7eef2;
  border-radius: 15px;
}
.header_container{
  width: 90%;
  margin: 0 auto;
}

.header .header_contentBox {
  width: 100%;
  min-height: 90px;
  font-family: Helvetica, Arial, sans-serif;
}
.header_menuicon{
  margin-bottom: 5px;
}
.header_logoLink {
  grid-column: 2;
  /* background-color: rgb(78, 111, 120); */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header_contentBox .header_logo {
  margin-left: 5px;
  margin-right: 10px;
  width: 100px;
  height: 93px;
}

.header .header_contentBox .header_navBox {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.header_menubutton{
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}
.header_menuicon{
  width: 35px;
  height: 27px;
}

.header .header_contentBox .header_navBox .header-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}
.header-nav_wrapper__p1{
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-nav_wrapper__p2{
    display: flex;
    align-items: center;
    justify-content: left;
}
.header .header_contentBox .header_navBox .header-nav_list {
  min-height: 50px;
  padding-left: 25px;
  padding-right: 25px;
    min-width: 300px;
  width: 100%;
  max-width: 400px;
  /* background-color: rgb(78, 111, 120); */
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.header-nav_list__p1{

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.header-nav_list__p2{

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header .header_contentBox .header_navBox .header-nav_list .header-nav_item .header-nav_link {
  font-family: Helvetica, Arial, sans-serif;
  color: #791051;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  text-wrap-mode: nowrap;
}
.header-nav_item:hover {
  text-decoration-color: #791051;
  text-decoration: underline;
}