$textFontFamily: Helvetica, Arial, sans-serif;
$textColor: #424242;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.container{
    width: 80%;
}
.toggleThemeIcon{
    width: 45px;
    height: 22px;
    .toggleThemeIcon_box{
        height: 100%;
        width: 100%;
        background-color: #404040;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 4px;
        padding-right: 4px;
    }
    .toggleThemeIcon_ellipse{
        width: 16px;
        height: 16px;

        background-color: #D9D9D9;
        border-radius: 90px;
    }
}
.upperheader{
    background-color: #D9D9D9;
    min-height: 57px;
    display: flex;
    justify-content: center;
    .upperheader_contentBox{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .upperheader_darkModeBox{
            width: 175px;
            display: flex;
            justify-content: space-between;

            .upperheader-darkModeBox_label{
                min-width: 105px;
                font-family: $textFontFamily;
                font-size: 2rem;
                color: $textColor;
            }
            .upperheader-darkModeBox_toggleThemeBtn{
                background: none;
                border: none;
            }
        }
        .upperheader_chooseLangBox{
            width: 100%;
            max-width: 100px;
            display: flex;
            justify-content: space-between;
            .upperheader-chooseLangBox_lang{
                text-decoration: none;
                font-family: $textFontFamily;
                color: $textColor;
                font-size: 1.6rem;
            }
        }
    }
}
.header{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header_contentBox{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .header_navBox{
            width: 100%;
            max-width: 1250px;
            margin-left: 30px;
            display: flex;
            align-items: center;
            .header-nav{
                width: 100%;
            }
            .header-nav_list{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                list-style: none;
                .header-nav_item{
                    .header-nav_link{
                        font-family: $textFontFamily;
                        color: $textColor;
                        text-decoration: none;
                        font-size: 3.4rem;
                        text-wrap-mode: nowrap;
                        .header-nav_icon{
                            margin-right: 6px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
.banner{
    width: 100%;
    height: 920px;
    background-color: #D9D9D9;
}
.news{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .news_contentBox{
        .news_title{
            text-align: center;
            font-family: $textFontFamily;
            color: $textColor;
            font-size: 128px;
            font-weight: 500;
        }
        .news_box{
            width: 100%;
            height: 1143px;
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 15px;
            row-gap: 15px;
            .news-box_item{
                background-color: #404040;
                border-radius: 15px;
            }
        }
    }
}