.upperheader {
  background-color: #f7eef2;
  min-height: 57px;
}
.upperheader_container{
  width: 90%;
  margin: 0 auto;
}
.upperheader .upperheader_contentBox {
  min-height: 57px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upperheader .upperheader_contentBox .upperheader_chooseLangBox {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: space-between;
}
.upperheader .upperheader_contentBox .upperheader_chooseLangBox .upperheader-chooseLangBox_lang {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #424242;
  font-size: 1.6rem;
}
.upperheader_govsymb{
  margin-right: 5px;
}